@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://salient.tailwindui.com/ */
html {
  @apply: h-full scroll-smooth bg-white antialiased;
}

body {
  @apply flex h-full flex-col font-sans;
}

#__next {
  @apply min-h-full;
}

@font-face {
  font-family: 'BerlinType';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/BerlinTypeWeb-Regular.eot');
  src: url('/fonts/BerlinTypeWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BerlinTypeWeb-Regular.woff2') format('woff2'),
    url('/fonts/BerlinTypeWeb-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BerlinType';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/BerlinTypeWeb-Bold.eot');
  src: url('/fonts/BerlinTypeWeb-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/BerlinTypeWeb-Bold.woff2') format('woff2'),
    url('/fonts/BerlinTypeWeb-Bold.woff') format('woff');
}
